/* To remove primary sidebar (navbar on the left) */
.bd-sidebar-primary {
    display: none !important;
}

/* To remove sidebar toggle button */
.sidebar-toggle {
    display: none !important;
}

/* center any <img> with this class */
img.centered { display: block; margin-left: auto; margin-right: auto; }
